using ErrorOr;
using MediatR;

namespace {{ .Service.Name }}.Application.Features.{{ .Entity.FeatureName }}.Delete;

public sealed record Delete{{ .Entity.Name }}Command(Guid Id, string ConcurrencyToken) : IRequest<ErrorOr<Deleted>>;
