<Project Sdk="Microsoft.NET.Sdk">
  <ItemGroup>
    <ProjectReference Include="..\{{ .ApplicationProject.Directory }}\{{ .ApplicationProject.FileName }}" />
    <ProjectReference Include="..\{{ .DomainProject.Directory }}\{{ .DomainProject.FileName }}" />
  </ItemGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design">
      <PrivateAssets>all</PrivateAssets>
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
    </PackageReference>
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" />
    <PackageReference Include="Microsoft.Data.SqlClient" />
  </ItemGroup>
  <ItemGroup>
    <Content Include="Persistence\ValueObjectPreflight.sql" CopyToOutputDirectory="PreserveNewest" />
  </ItemGroup>
</Project>
