{
  "generator": "microgen",
  "targetFramework": "{{ .TargetFramework }}",
  "solution": "{{ .Solution.Name }}",
  "services": [{{ range $index, $service := .Services }}{{ if $index }}, {{ end }}"{{ $service.Name }}"{{ end }}]
}
