# Provisional identity: repository/package ownership is not established yet.
PackageIdentifier: PozeydonCode.Microgen
PackageVersion: {{ .Version }}
PackageLocale: en-US
Publisher: Pozeydon Code (provisional)
PublisherUrl: https://github.com/pozeydon-code
PackageName: microgen
PackageUrl: https://github.com/{{ .Repository }}
License: MIT
LicenseUrl: https://github.com/{{ .Repository }}/blob/{{ .Tag }}/LICENSE
ShortDescription: Deterministic .NET CRUD microservice generator.
ManifestType: defaultLocale
ManifestVersion: 1.6.0
