# Provisional identity: repository/package ownership is not established yet.
PackageIdentifier: PozeydonCode.Microgen
PackageVersion: {{ .Version }}
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.6.0
