<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>microgen</id>
    <version>{{ .Version }}</version>
    <title>microgen</title>
    <authors>Pozeydon Code (provisional)</authors>
    <owners>Pozeydon Code (provisional)</owners>
    <projectUrl>https://github.com/{{ .Repository }}</projectUrl>
    <licenseUrl>https://github.com/{{ .Repository }}/blob/{{ .Tag }}/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>Deterministic .NET CRUD microservice generator.</description>
    <summary>microgen command-line generator</summary>
    <tags>dotnet generator cli microservices</tags>
  </metadata>
</package>
