using Microsoft.EntityFrameworkCore;
using {{ .Name }}.Domain.Entities;

namespace {{ .Name }}.Infrastructure.Persistence;

public sealed class {{ .Name }}DbContext(DbContextOptions<{{ .Name }}DbContext> options) : DbContext(options)
{
{{ range .Entities }}    public DbSet<{{ .Name }}> {{ .Name }}s => Set<{{ .Name }}>();
{{ end }}
    protected override void OnModelCreating(ModelBuilder modelBuilder)
    {
        modelBuilder.ApplyConfigurationsFromAssembly(typeof({{ .Name }}DbContext).Assembly);
    }
}
