using ErrorOr;
using MediatR;
using {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Dtos;

namespace {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Commands.Create;

public sealed record Create{{ .Entity.Name }}Command : IRequest<ErrorOr<{{ .Entity.Name }}Dto>>
{
{{ range .Entity.NonIDFields }}    public {{ .ContractType }} {{ .Name }} { get; init; }{{ if eq .ContractType "string" }} = string.Empty;{{ end }}
{{ end }}{{ range .Entity.RelationshipScalarFields }}    public {{ .ContractType }} {{ .Name }} { get; init; }
{{ end }}}
