using FluentValidation;
using FluentValidation.Results;
{{ if .Entity.HasValueObjectFields }}using {{ .Service.Name }}.Domain.ValueObjects;
{{ end }}

namespace {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Commands.Create;

public sealed class Create{{ .Entity.Name }}CommandValidator : AbstractValidator<Create{{ .Entity.Name }}Command>
{
    public Create{{ .Entity.Name }}CommandValidator()
    {
{{ range .Entity.NonIDFields }}{{ if .IsValueObject }}        RuleFor(command => command.{{ .Name }}).Custom((value, context) =>
        {
            var result = {{ .DomainType }}.Create(value, "{{ .CamelName }}");
            foreach (var error in result.Errors)
            {
                context.AddFailure(new ValidationFailure(context.PropertyPath, error.Message) { ErrorCode = error.Code });
            }
        });
{{ end }}{{ end }}    }
}
