namespace {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Dtos;

public sealed record {{ .Entity.Name }}Dto(
{{ range $index, $field := .Entity.Fields }}{{ if $index }},
{{ end }}    {{ $field.ContractType }} {{ $field.Name }}{{ end }},
    string ConcurrencyToken);
