using ErrorOr;
using MediatR;
using {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Dtos;

namespace {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Queries.GetById;

public sealed record Get{{ .Entity.Name }}ByIdQuery(Guid Id) : IRequest<ErrorOr<{{ .Entity.Name }}Dto>>;
