using {{ .Service.Name }}.Application.Common;
using {{ .Service.Name }}.Domain.Entities;

namespace {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Interfaces;

public interface I{{ .Entity.Name }}Repository
{
    Task<(IReadOnlyList<EntitySnapshot<{{ .Entity.Name }}>> Items, int TotalCount)> ListAsync(int skip, int take, CancellationToken cancellationToken);
    Task<EntitySnapshot<{{ .Entity.Name }}>?> GetByIdAsync(Guid id, CancellationToken cancellationToken);
    Task AddAsync({{ .Entity.Name }} entity, CancellationToken cancellationToken);
    Task<MutationPreparationStatus> UpdateAsync({{ .Entity.Name }} entity, string concurrencyToken, CancellationToken cancellationToken);
    Task<MutationPreparationStatus> DeleteAsync({{ .Entity.Name }} entity, string concurrencyToken, CancellationToken cancellationToken);
}
