using ErrorOr;
using MediatR;
using {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Dtos;

namespace {{ .Service.Name }}.Application.{{ .Entity.FeatureName }}.Commands.Update;

public sealed record Update{{ .Entity.Name }}Command : IRequest<ErrorOr<{{ .Entity.Name }}Dto>>
{
    public required Guid Id { get; init; }
{{ range .Entity.NonIDFields }}    public {{ .ContractType }} {{ .Name }} { get; init; }{{ if eq .ContractType "string" }} = string.Empty;{{ end }}
{{ end }}    public string ConcurrencyToken { get; init; } = string.Empty;
}
